
@{
    ViewBag.Title = "Acerca de:";
}

<h2>Desarrolladores:</h2>
<br/>

<div class="row">
    <div class="col-xs-6">

        <img width="300" height="300" src="~/src/Emil.png" />
        <h4>Emil Pérez Barranco (2018-6076)</h4>
        <h5>TDS</h5>
        <p> Realizó:</p>
        <ul>
            <li>Login de Facebook</li>
            <li>Conversor de Unidades</li>
        </ul>
    </div>

    <div class="col-xs-6">
        <img width="300" height="300" src="~/src/F55E1527-3E26-4EB9-90CF-C02BB1558F99.jpg" />
        <h4>Paulina María Gómez (2018-6358)</h4>
        <h5>TDS</h5>
        <p> Realizó:</p>
        <ul>
            <li>Formulario de solicitud de empleo</li>
            <li>Filtro de contenidos</li>
        </ul>
    </div>
</div>
<br />
<button class="btn btn-outline-primary"><a href="/LoginEmil/Home">Volver a Home</a></button>