
@{
    ViewBag.Title = "Música";
}

<h2>Música</h2>

<div class="row">
    <div class="col-md-4">
        <a target="_blank" href="https://www.spotify.com/do/">
            <img width="300" height="300" style="object-fit: cover;" src="~/src/148-1487614_spotify-logo-small-spotify-logo-transparent-hd-png.png" />
            <h4 class="text-center">Spotify</h4>
        </a>
        

    </div>

    <div class="col-md-4">
        <a target="_blank" href="https://www.apple.com/la/apple-music/">
        <img width="300" height="300" style="object-fit: cover;" src="~/src/og_image__pvk21jd9bj22.png" />
        <h4 class="text-center">Apple Music</h4>
        </a>

    </div>

    <div class="col-md-4">
        <a target="_blank" href="https://play.google.com/music/listen?u=0#/sulp">
            <img width="300" height="300" style="object-fit: cover;" src="~/src/unnamed.png" />
            <h4 class="text-center">Google Play Music</h4>

        </a>
        
    </div>

</div>

