
@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>

<div class="row">
    <div class="col-xs-6">
      
        <h4>Locales </h4>
        <ol>
            <li><a href="https://listindiario.com/">Listín Diario</a></li>
            <li><a href="https://hoy.com.do/">Hoy</a></li>
            <li><a href="https://elnacional.com.do/">El Nacional</a></li>
            <li><a href="https://elcaribe.com.do/">El Caribe</a></li>
            <li><a href="https://elnuevodiario.com.do/">El Nuevo Diario</a></li> 
        </ol>

    </div>

    <div class="col-xs-6">
        <h4>Internacionales</h4>
        <ol>
            <li><a href="https://www.univision.com/">Univision</a></li>
            <li><a href="https://www.cnn.com/">CNN</a></li>
            <li><a href="https://www.bbc.co.uk/news">BBC News</a></li>
            <li><a href="https://elpais.com/">El País</a></li>
            <li><a href="https://www.abc.es/internacional/">ABC</a></li>
        </ol>

    </div>

   
</div>