
@{
    ViewBag.Title = "Películas";
}

<h2>Películas</h2>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <h4>Acción y Aventuras</h4>      

        FAST AND FURIOUS <br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/dKi5XoeTN0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />

        EL HOBBIT <br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/sI8OQRXhcZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />

        HARRY POTTER<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/Yu9jHZrwtjI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />

        INDIANA JONES<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/vdnA-ESWcPs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />

        GI JOE<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/Rhgxm2xLnvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br />


    </div>
    <div class="col-xs-6 col-md-4">
        <h4>Documentales</h4>

        OUR PLANET<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/aETNYyrqNYE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />

        COSMOS<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/vbu72k7SbbE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />

        DIANA: IN HER OWN WORDS<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/UfaTLTo3250" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />

        INSIDE BILL'S BRAIN<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/aCv29JKmHNY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />

        THE STORY OF GOD<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/l9PEMc_nXuQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />

    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <h4> Drama</h4>

        THE THEORY OF EVERYTHING<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/Salz7uGp72c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


        THE MAN WHO KNEW INFINITY<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/oXGm9Vlfx4w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


        THE NOTEBOOK<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/yDJIcYE32NU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


        JOKER <br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/-_DJEzZk2pc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


        ROMEO AND JULIET <br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/yeM1TQeDWzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />



    </div>
    <div class="col-xs-6 col-md-4">
        <h4>Infantiles</h4>

        STEVEN UNIVERSE: THE MOVIE <br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/-eQo8iuKnns" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


        SONIC THE HEDGEHOG	<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/szby7ZHLnkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


        BIG HERO 6<br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/boO2nQ3RJFs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />

        HOW TO TRAIN YOUR DRAGON <br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/naW9U8MiUY0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


        SHREK <br />
        <iframe width="300" height="200" src="https://www.youtube.com/embed/xBgSfhp5Fxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />


    </div>
</div>


