
@{
    ViewBag.Title = "Login";
}

<br />

<div class="jumbotron">
    <h1 class="display-4">Bienvenid@@!</h1>
    <p class="lead">Esta aplicación fue construida en ASP.NET C# & JavaScript por Paulina Gómez y Emil Barranco.</p>
    <hr class="my-4">
    <p>Inicie sesión en Facebook para continuar.</p>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
    <span id="status"></span>
    <span id="home"></span>
</div>




