
@{
    ViewBag.Title = "Login";
}

<br />

<div class="jumbotron">
    <h1 class="display-4">Bienvenid@@!</h1>
    <p class="lead">Esta aplicación fue construida en ASP.NET C# & JavaScript por Paulina Gómez y Emil Barranco.</p>
    <hr class="my-4">
    <p>Inicie sesión en Facebook para continuar.</p>
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
    <div id="status"></div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=653943608750534&autoLogAppEvents=1"></script>
<script src="~/Scripts/Facebook.js"></script>